@import 'modules/typography';
@import 'modules/colors';
@import 'modules/normalize';
@import 'modules/mixins';

@import 'partials/base';
@import 'partials/intro';
@import 'partials/about';
@import 'partials/portfolio';
@import 'partials/notebook';
@import 'partials/footer';
@import 'partials/nav';
@import 'partials/contact';
@import 'partials/buttons';

@import 'partials/the-archive';
@import 'partials/junocity';
@import 'partials/flux';
@import 'partials/empire';
@import 'partials/unity-animation';

