* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: raleway, sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
  content: '';
  display: block;
  clear: both;
}