#empire--hero {
    background-image: linear-gradient(rgba(black,0.5), rgba(black,0.5)), url(../../img/empire/hero.jpg);
}

#empire--play {
    height: 120vh;

    iframe {
        height: 80%;
    }
}

#empire--demo {
    width: 100%;
    height: 100vh;
    margin-bottom: 4em;

    iframe {
        height: 75%;
        width: 80%;
    }
}

#empire--cta {
    div {
        display: flex;
        justify-content: space-around;
    }
}

@media(max-width: 960px) {
    #empire--play {
        height: 120vh;
    
        iframe {
            height: 87%;
        }
    }
    #empire--demo {
        margin-bottom: 2em;
    
        iframe {
            width: 100%;
        }
    }
    #empire--cta {
        div {
            flex-direction: column;

            .button {
                margin: 0.5em auto;
            }
        }
    }
}