#junocity--hero {
    background-image: linear-gradient(rgba(black,0.4), rgba(black,0.4)), url(../../img/junocity/hero.jpg);
}

.pages {
    h1 {
        margin-bottom: 1em;
    }
}

.page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 2em;
    background: $main;
}

#junocity--cta {
    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            margin-bottom: 1em;
        }
    }
}