header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1em;
}

.logo {
  height: 4em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
}

nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.5em;
  color: #fff;
}

nav a:hover,
nav a:focus {
  color: #DDD;
}

@media (min-width: 60rem) {
  .logo {
    float: left;
  }
  nav {
    float: right;
  }
}