#notebook {
    margin: 0;
    padding: 1em 0;
}

.note {
    color: $white;
    position: relative;
}

.note-img {
    display: block;
}

.desc {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    color: white;
    background: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;

    h2 {
        margin: 0 .5em .5em;
    }

    p {
        margin: 0 .5em 1em;
    }
}

.note-link {
    color: $white;
    font-weight: $fw-m;
    text-decoration: none;
}

@media (min-width: 60rem) {
    .note {
        overflow: hidden;
    }

    .desc {
        transform: translateY(150%);
    }

    .note:hover .desc {
        transform: translateY(0%);
    }
}

@media (max-width: 600px) {
    .note {
        width: 100%;
    }
}