.portfolio {
  text-align: center;
  background:$light-gray;
  padding: 5em 0;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  @include container($max-width: 60em);
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  margin: 0;
  flex: 1 1 10rem;

  img {
    display: block;
    width: 100%;
  }

  figcaption {
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1em;
    background: rgba($accent, .5);
    color: $white;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: top ease-in-out 250ms;

    @include mq(37em) {
      padding: 2.5em;
    }
  }

  &:hover figcaption,
  &:focus figcaption {
    top: 0;
  }
}

.portfolio-title {
  color: $white;
  font-size: 1.5rem;
  margin-bottom: auto;

  @include mq(37em) {
    font-size: 3em;
  }
}

.portfolio-desc {
  display: none;
}

.portfolio-link {
  color: $white;
  font-weight: $fw-b;
  font-size: .8rem;
  text-decoration: none;
  border-bottom: 3px solid $white;
  align-self: flex-start;

  @include mq(37em) {
    font-size: 1em;
  }

  &::after {
    content: url(../img/arrow-white.svg);
    display: inline-block;
    width: .8em;
    height: .8em;
    margin-left: .5em;
  }
}

@supports (display: grid) {
  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .3em;
  }

  .portfolio-item.featured {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .featured {
    .portfolio-title {
      font-size:3rem;

      @include mq(37em) {
        font-size: 5em;
        }
      }

    .portfolio-desc {
      display: block;
      font-size: 1.2em;
      }

      .portfolio-link {
        @include mq(37em) {
          font-size: 1.2em;
        }
      }
    }
  }
