.port-items {
  background: $main;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.port-item {
  margin: 0;
  position: relative;
  width: 100%;
}

.my-projects {
  padding: 1em 0 1em;
  margin-top: 0;
}

.port-item img {
  display: block;
}

.desc {
  padding: 15%;
  text-align: center;
}

@media (max-width: 680px) {
  .port-items {
    display: flex;
    flex-direction: column;
  }
}

// @media (min-width: 37rem) {
//   .port-item, .note {
//     float: left;
//   }
// }

@media (min-width: 60rem) {
  .port-item {
    overflow: hidden;
  }
  
  .desc {
    transform: translateY(150%);
  }
  
  .port-item:hover .desc {
    transform: translateY(0%);
  }
}