#unity-animation--hero {
    background-image: linear-gradient(rgba(black,0.6), rgba(black,0.6)), url(../../img/unity-animation/hero.png);
}

#unity-animation--overview {
    background-image: linear-gradient(rgba(black,0.5), rgba(black,0.5)), url(../../img/unity-animation/overview.png);
    background-position: 50% 0%;
}

#unity-animation--name {
    margin-bottom: 1em;
}

.movies {
    padding: 2em;
    background: $main;

    .movie {
        display: flex;
        justify-content: center;
        margin-bottom: 5em;

        iframe {
            width: 40em;
            height: 22.5em;
        }

        figcaption {
            width: 25em;
            text-align: left;
            color: $white;

            h2 {
                color: $highlight;
            }
        }
    }
    
    .movie-left figcaption {
        padding-left: 3em;
    }

    .movie-right figcaption {
        padding-right: 3em;
    }
}

@media(max-width: 800px){
    .movies .movie {
        flex-direction: column;
        align-items: center;

        figcaption {
            order: 0;
            text-align: center;
            padding: 1em 0;
            width: 80%;
            margin-bottom: 1em;
            min-width: 18em;
        }
        iframe {
            order: 1;
            width: 85vw;
        }
    }

    .movies .movie-left figcaption, .movies .movie-right figcaption {
        padding: 0;
    }
}